<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:href="@{../css/style.css}" rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link th:href="@{../css/bootstrap.css}" rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	<meta charset=UTF-8>
<meta charset="ISO-8859-1">
<title>Ventas</title>
</head>
<body>
<div class="container">
			<div th:each="c : ${producto}">
				<div class="col-md-4">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title" th:text="${c.nombre}">Nombre</h5>
							
						</div>
					</div>
				</div>
			</div>
		</div>
    <div>      
       	<table class="table table-success table-striped">
			<thead  class="thead-dark">
				<tr>
					<th scope="col">Codigo</th>
					<th scope="col">Nombre</th>
					<th scope="col">Precio</th>
					<th scope="col">Disponibilidad</th>
					
				</tr>
			</thead>
			
			<tbody>

				<tr th:each="producto:${producto}">
					<td th:text="${producto.codigo}"></td>
					<td th:text="${producto.nombre}"></td>
					<td th:text="${producto.precio}"></td>
					<td th:text="${producto.disponibilidad}"></td>
						
				</tr>

			</tbody>
		</table>
       
   		<form action="LproductosVenta" class="form-group">
			<input type="submit" class="btn btn-outline-primary"
				value="Mostrar Productos">
		</form>
		
		<form action="login" class="form-group" id="formCerrarSesion">
			<input type="submit" class="btn btn-outline-primary"
				value="Cerrar Sesion">
		</form>
	</div> 
</body>
</html>