<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:href="@{../css/style.css}" rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link th:href="@{../css/bootstrap.css}" rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	<meta charset=UTF-8>
<title>Usuarios</title>
</head>
<body>
 <div class ="container mt-5">
<form id="formProducto"  th:object=${usuarioF} th:action="${editMode}?@{/Musuario}:@{/guardarUsuario}" method="post">
	
<h1>Lista de Usuarios</h1>

<a type="button" class="btn btn-primary" th:href = "@{/cargarUsuario}">Agregar Usuario?</a>

	<br>
	<div>
		<table class="table table-success table-striped">
			<thead class="thead-dark">
				<tr>

					 
      <th scope="col">Dni</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Tipo de Usuario</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
      


				</tr>
			</thead>
  	
 <tr th:each = "usuarios:${usuarios}">
      
       <td th:text = "${usuarios.dni}"></td>
      <td th:text = "${usuarios.nombre}"></td>
      <td th:text = "${usuarios.apellido}"></td>
				 <td th:text = "${usuarios.tipo}"></td>
					<td ><a type="button" class="btn btn-outline-primary" th:href="@{/EDusuario/}+ ${usuarios.id}" >EDITAR</a></td>
     				 <td><a type="button" class="btn btn-outline-danger"th:href="@{/Elusuario/}+ ${usuarios.id}">ELIMINAR</a></td>
				</tr>
   
		</table>
	</div>
	<br>

 
	<div class="col-sm-6">
						<a class="btn btn-secondary btn-block" th:href="@{'/cancelar'}">Volver</a>
					</div>
</form>
</div>
</body>
</html>