<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link th:href="@{../css/style.css}" rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link th:href="@{../css/bootstrap.css}" rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	<meta charset=UTF-8>
<title>Login</title>
</head>
<body class="container">
	
			<div class="table">
			
				<table class="table">
				<thead  class="thead-dark">
				    <tr>
				      <th scope="col">Id Producto</th>
				      <th scope="col">Nombre del Producto</th>
				      <th scope="col">Disponibilidad</th>
				      <th scope="col">Costo</th>
				       <th scope="col">Total</th>
				    </tr>   
				</thead>
					<tr th:each="producto : ${productos}">
						<td th:text="${producto.id}"></td>
						<td th:text="${producto.nombre}"></td>
						<td th:text="${producto.disponibilidad}"></td>
						
					</tr>
				</table>
			
				<br>			
			<form action="Client">
				<input type="submit" value="Volver">
			</form>
	</div>
</body>
</html>